body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #0f172a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #38bdf8;
    font-size: 28px;
}

.container {
    margin-top: 30px;
}

select {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.clock-box {
    margin: 20px auto;
    padding: 30px;
    width: 90%;
    max-width: 350px;
    background: #1e293b;
    border-radius: 12px;
}

#timeDisplay {
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;
}

#dateDisplay, #utcDisplay {
    margin-top: 5px;
    color: #94a3b8;
}
